# Nodemailer
EMAIL=
EMAIL_PASSWORD=

# Google Analitycs
NEXT_PUBLIC_GOOGLE_ANALYTICS=

# Github
GITHUB_TOKEN=

# Web Site
SITE_URL=

# Secret, Revalidation
MY_SECRET_TOKEN=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=
