---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "../components/shared/Header";
import Footer from "../components/shared/Footer.astro";

import { getLangFromUrl } from "../i18n/utils";
import { translations } from "../i18n/translations";
import type { HeaderProps } from "../interfaces/NavItem";

const lang = getLangFromUrl(Astro.url);
const navItems: HeaderProps["navItems"] = translations[lang].nav;
---

<!doctype html>
<html
  lang={(() => {
    const lang = getLangFromUrl(Astro.url);
    return lang;
  })()}
  class="bg-[var(--background)] text-[var(--foreground)]"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="sitemap" href="/sitemap-0.xml" />

    <meta name="generator" content={Astro.generator} />
    <title>imSoft</title>

    <ClientRouter />

    <script>
      (function () {
        const stored = localStorage.getItem("theme");
        if (stored === "dark") {
          document.documentElement.classList.add("dark");
        } else if (stored === "light") {
          document.documentElement.classList.remove("dark");
        } else {
          const prefersDark = window.matchMedia(
            "(prefers-color-scheme: dark)"
          ).matches;
          if (prefersDark) {
            document.documentElement.classList.add("dark");
          }
        }
      })();
    </script>
  </head>

  <body
    class="font-sans antialiased bg-[var(--background)] text-[var(--foreground)]"
  >
    <Header client:load lang={lang} navItems={navItems} />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
